<div class="loading" *ngIf="!data; else elseBlock">
    <app-progress-spinner class="spinner"></app-progress-spinner>
</div>
<ng-template #elseBlock>
    <div id="homeDialog">
        <div>
            <button mat-dialog-close class="close">X</button>
        </div>
        <h2 mat-dialog-title>{{data.name}}</h2>
        <mat-dialog-content class="mat-typography">
            <img src="{{data.image}}" alt="{{data.name}}" class="dialogImage">
            <mat-tab-group id="dialogTabs">
                <mat-tab id="labelContent" label="{{ 'preview.dialog.courseDetails' | translate }}">
                    <div id='content'>
                        <p id="description"><span [innerHTML]="data.description"></span></p>
                        <h2 id='title'>{{ 'preview.dialog.authors' | translate }}</h2>
                        <p [innerHTML]="data.authors"></p>
                        <h2 id="title">{{ 'preview.dialog.info' | translate }}</h2>
                        <div id='moreDetails'>
                            <div>
                                <span>{{'preview.dialog.courseType' | translate}} </span>
                                <p>{{data.courseType}}</p>
                            </div>
                            <div>
                                <span>{{ 'preview.dialog.accessDays' | translate }}</span>
                                <p>{{data.accessDays}} {{ 'preview.dialog.days' | translate }}</p>
                            </div>
                            <div>
                                <span>{{ 'preview.dialog.time' | translate }}</span>
                                <p>{{data.hours}} {{'preview.dialog.hours' | translate}}</p>
                            </div>
                            <div>
                                <span>{{'preview.dialog.role' | translate}}</span>
                                <p>{{data.courseRole}}</p>
                            </div>
                            <div>
                                <span>{{'preview.dialog.credits' | translate}}</span>
                                <p>{{data.credits}}</p>
                            </div>
                            <div>
                                <span>{{'preview.dialog.price' | translate}}</span>
                                <p>{{data.price}} {{data.currency}}</p>
                            </div>
                            <div>
                                <span>{{'preview.dialog.interval' | translate}}</span>
                                <p>{{data.startDate | date: "dd.MM.yyyy"}} - {{data.endDate | date: "dd.MM.yyyy"}}</p>
                            </div>

                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{ 'preview.dialog.courseStructure' | translate }}">
                    <div id='content' *ngIf="data">
                        <div *ngFor="let section of data.userSectionDetails">
                            <mat-accordion multi>
                                <mat-expansion-panel expanded="true" id='accordion'>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <h2 id='title'>{{section?.name}}</h2>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div id='sectionDetails'>
                                        <div *ngFor="let content of section.userContentDetails">
                                            <div id="resource">
                                                <div [ngSwitch]="content?.type" class="node-icon">
                                                    <mat-icon *ngSwitchCase="'PDF'">library_books</mat-icon>
                                                    <mat-icon *ngSwitchCase="'VIDEO'">play_circle_filled</mat-icon>
                                                    <mat-icon *ngSwitchCase="'ZOOM'">video_camera_front</mat-icon>
                                                    <mat-icon *ngSwitchCase="'QUIZ'">quiz</mat-icon>
                                                    <h4 id="contentCourse">{{content?.name}}</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-dialog-content>
        <mat-dialog-actions align="center">
            <a id='register' mat-flat-button [mat-dialog-close]="true" cdkFocusInitial href="#/preview/register">
                {{'preview.dialog.register'| translate}}
            </a>
        </mat-dialog-actions>
    </div>

</ng-template>