.mat-dialog-container {
  display: flex;
  flex-direction: column;

  app-home-card-dialog {
    display: flex;
    flex-direction: column;
    flex: 1;

    #homeDialog {
      display: flex;
      flex-direction: column;
      flex: 1;

      .mat-dialog-title {
        display: flex;
        margin: 0;

        .title {
          flex: 1;
          font-size: 26px;
          font-family: Roboto;
          font-weight: 700;
        }

        .close {
          display: flex;
          font-size: 1.5em;
          border: none;
          background-color: transparent;
          text-align: end;
          cursor: pointer;
        }
      }

      .mat-dialog-content {
        flex: 1;

        #dialogTabs {
          margin-top: 15px;
          height: 415px;

          .mat-tab-header {
            border-bottom: 1px solid #bcbcbc;

            .mat-tab-label {
              text-transform: uppercase;
            }

            .mat-tab-label[aria-selected="true"] {
              .mat-tab-label-content {
                background-color: #fff;
                color: #1e5a0b;
                font-weight: 700;
              }
            }

            .mat-ink-bar {
              background-color: #1e5a0b;
            }

          }

          .content {
            min-width: 700px;

            .description {
              margin-top: 40px;
            }

            .title {
              font-size: 20px;
              font-family: Roboto;
              font-weight: 700;
              margin: 0;
              color: #6e6e6e;
            }

            .moreDetails {
              display: grid;
              grid-template-columns: 3fr 3fr 1fr;

              span {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                color: #5a5a5a;
              }

              div {
                font-weight: 500;
              }
            }

            .accordion {
              border-radius: 0;
              box-shadow: none;

              .mat-expansion-panel-header {
                flex-direction: row-reverse;

                .mat-expansion-indicator {
                  margin-right: 10px;
                }
              }

              .mat-expansion-panel-header[aria-expanded="true"] {
                .mat-expansion-indicator {
                  position: relative;
                  top: 2px;
                }
              }

              .mat-expansion-panel-header[aria-expanded="false"] {
                .mat-expansion-indicator {
                  position: relative;
                  top: -4px;
                }
              }

              .mat-expansion-panel-body {
                padding-bottom: 0;
              }

              .sectionDetails {
                padding-left: 20px;

                .resource {
                  margin-bottom: 15px;

                  .mat-icon {
                    float: left;
                    margin-right: 10px;
                    color: #8daf80;
                  }

                  .contentCourse {
                    margin: 0;
                  }
                }
              }
            }
          }

          .register {
            background-color: #637b5a;
            color: #fff;
            width: 150px;
          }
        }
      }
    }
  }
}




