<div class="editSectionDialogContianer">
  <div mat-dialog-title>
    <h2 class="title">
      {{"admin.createCourseContent.editCourseSectionDialog.title" | translate}}
      "{{data?.name}}"
    </h2>
    <button mat-dialog-close class="close">
      <span class="material-icons-outlined">close</span>
    </button>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-flat-button [mat-dialog-close]="true">
      {{ "general.cancel" | translate }}
    </button>
    <button mat-button mat-flat-button (click)="saveHandler()">
      {{ "general.save" | translate }}
    </button>
  </div>
</div>
