<div class="container">
  <h1>Editare sectiune</h1>
  <div class="course-edit">
    <form [formGroup]="form">
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-flat-button [mat-dialog-close]="true">
      {{ "general.cancel" | translate }}
    </button>
    <button mat-button mat-flat-button (click)="saveHandler()">
      {{ "general.save" | translate }}
    </button>
  </div>
</div>
