<div *ngIf="questions.length" cdkDropList
     (cdkDropListDropped)="onListDropped($event)">
    <mat-card #questionRef cdkDrag *ngFor="let question of questions"
              class="question-card">
        <div cdkDragHandle>
            <mat-icon>drag_indicator</mat-icon>
        </div>

        <mat-card-content>
            <div class="question-content-top">
                <mat-form-field [floatLabel]="'auto'"
                                class="question-name">
                    <mat-label>{{ 'admin.quiz.question.name' | translate }}</mat-label>
                    <input matInput [(ngModel)]="question.name" required>
                    <mat-error *ngIf="!question.name">{{ 'field.required' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="question-type-dropdown">
                    <mat-label>{{ 'admin.quiz.question.type' | translate }}</mat-label>
                    <mat-select [(value)]="question.type"
                                (selectionChange)="selectionChangeHandler(question)"
                                [panelClass]="'question-type-dropdown-panel'">
                        <mat-select-trigger>
                            <ng-container [ngSwitch]="question.type">
                                <ng-container *ngSwitchCase="FIELD_TYPES.RADIO"
                                              [ngTemplateOutlet]="radioOption"></ng-container>
                                <ng-container *ngSwitchCase="FIELD_TYPES.SELECT"
                                              [ngTemplateOutlet]="dropdownOption"></ng-container>
                                <ng-container *ngSwitchCase="FIELD_TYPES.CHECKBOXES"
                                              [ngTemplateOutlet]="checkboxesOption"></ng-container>
                                <ng-container *ngSwitchCase="FIELD_TYPES.TEXTAREA_SHORT"
                                              [ngTemplateOutlet]="textShotOption"></ng-container>
                                <ng-container *ngSwitchCase="FIELD_TYPES.TEXTAREA_BIG"
                                              [ngTemplateOutlet]="textBigOption"></ng-container>
                                <ng-container *ngSwitchCase="FIELD_TYPES.LINEAR_SCALE"
                                              [ngTemplateOutlet]="linearScaleOption"></ng-container>
                            </ng-container>
                        </mat-select-trigger>
                        <mat-option value="{{FIELD_TYPES.RADIO}}">
                            <ng-container [ngTemplateOutlet]="radioOption"></ng-container>
                        </mat-option>
                        <mat-option value="{{FIELD_TYPES.SELECT}}">
                            <ng-container [ngTemplateOutlet]="dropdownOption"></ng-container>
                        </mat-option>
                        <mat-option value="{{FIELD_TYPES.CHECKBOXES}}">
                            <ng-container [ngTemplateOutlet]="checkboxesOption"></ng-container>
                        </mat-option>
                        <mat-option value="{{FIELD_TYPES.TEXTAREA_SHORT}}">
                            <ng-container [ngTemplateOutlet]="textShotOption"></ng-container>
                        </mat-option>
                        <mat-option value="{{FIELD_TYPES.TEXTAREA_BIG}}">
                            <ng-container [ngTemplateOutlet]="textBigOption"></ng-container>
                        </mat-option>
                        <mat-option value="{{FIELD_TYPES.LINEAR_SCALE}}">
                            <ng-container [ngTemplateOutlet]="linearScaleOption"></ng-container>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <ng-container
                    *ngIf="question.type === FIELD_TYPES.SELECT || question.type === FIELD_TYPES.RADIO || question.type === FIELD_TYPES.CHECKBOXES">
                <app-options-field-configuration [question]="question"
                                                 [optionIcon]="question.type === FIELD_TYPES.RADIO ? 'radio_button_unchecked' : question.type === FIELD_TYPES.CHECKBOXES ? 'check_box_outline_blank': ''">
                </app-options-field-configuration>
            </ng-container>

            <ng-container *ngIf="question.type === 'TEXTAREA_SHORT'">
                <app-textarea-field-configuration [question]="question"></app-textarea-field-configuration>
            </ng-container>

            <ng-container *ngIf="question.type === 'TEXTAREA_BIG'">
                <app-textarea-field-configuration [question]="question"></app-textarea-field-configuration>
            </ng-container>

            <ng-container *ngIf="question.type === 'LINEAR_SCALE'">
                <app-linear-scale-field-configuration [question]="question"></app-linear-scale-field-configuration>
            </ng-container>

        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button mat-raised-button color="warn"
                    (click)="removeQuestion(question)">{{ 'admin.quiz.question.deleteQuestion' | translate }}</button>
            <button mat-button mat-raised-button color="success"
                    (click)="saveQuestion(question)">{{ 'admin.quiz.question.saveQuestion' | translate }}</button>
        </mat-card-actions>

    </mat-card>
</div>

<mat-card class="add-question-card" *ngIf="quizSettingSaved || quizSettingsService.quizId">
    <div *ngIf="!questions.length"
         class="no-questions-label">{{ 'admin.quiz.question.noQuestionsLabel' | translate }}</div>

    <button mat-fab
            color="primary"
            title="{{ 'admin.quiz.question.addQuestion' | translate }}"
            (click)="addQuestion()">
        <mat-icon class="add-question-icon material-icons-outlined">add</mat-icon>
    </button>
</mat-card>

<ng-template #radioOption>
    <mat-icon class="question-type-icon">radio_button_checked</mat-icon>
    {{ 'admin.quiz.question.radioType' | translate }}
</ng-template>

<ng-template #dropdownOption>
    <mat-icon class="question-type-icon">arrow_drop_down_circle</mat-icon>
    {{ 'admin.quiz.question.selectType' | translate }}
</ng-template>

<ng-template #checkboxesOption>
    <mat-icon class="question-type-icon">check_box</mat-icon>
    {{ 'admin.quiz.question.checkboxesType' | translate }}
</ng-template>

<ng-template #textShotOption>
    <mat-icon class="question-type-icon">short_text</mat-icon>
    {{ 'admin.quiz.question.textareaShortType' | translate }}
</ng-template>

<ng-template #textBigOption>
    <mat-icon class="question-type-icon">subject</mat-icon>
    {{ 'admin.quiz.question.textareaBigType' | translate }}
</ng-template>

<ng-template #linearScaleOption>
    <mat-icon class="question-type-icon">linear_scale</mat-icon>
    {{ 'admin.quiz.question.linearScaleType' | translate }}
</ng-template>
