@import "./src/styles/scss/imports";

.question-card {

  .question-content-top {
    display: flex;
    justify-content: space-between;

    .question-name {
      margin-right: 10px;
      width: 30%;
    }

    .question-type-dropdown {
      width: 50%;
    }
  }

  .options-container {
    display: flex;
    flex-direction: column;

    .option-wrapper {
      flex: 1;
      display: flex;
      align-items: center;

      .question-type-icon {
        color: $lightBorder;
        margin-right: 5px;
      }

      .option-field {
        flex: 1
      }

      .option-actions {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 10px;

        .add {
          color: $infoColor;
        }

        .delete {
          color: $actionRed;
        }
      }
    }
  }

}