<mat-card *ngIf="!questions.length && (quizSettingSaved || quizId)" class="add-question-card">
    <div class="no-questions-label">{{ 'admin.quiz.question.noQuestionsLabel' | translate }}</div>

    <button mat-fab
            color="primary"
            title="{{ 'admin.quiz.question.addQuestion' | translate }}"
            (click)="addFirstQuestion()">
        <mat-icon class="add-question-icon material-icons-outlined">add</mat-icon>
    </button>
</mat-card>

<mat-card *ngFor="let question of questions" class="question-card">
    <mat-card-content>
        <div class="question-content-top">
            <mat-form-field [floatLabel]="'auto'"
                            class="question-name">
                <mat-label>{{ 'admin.quiz.question.name' | translate }}</mat-label>
                <input matInput [(ngModel)]="question.name">
            </mat-form-field>

            <mat-form-field class="question-type-dropdown">
                <mat-label>{{ 'admin.quiz.question.type' | translate }}</mat-label>
                <mat-select [(value)]="question.type">
                    <mat-option value="radio">{{ 'admin.quiz.question.radioType' | translate }}</mat-option>
                    <mat-option value="select">{{ 'admin.quiz.question.selectType' | translate }}</mat-option>
                    <mat-option value="checkboxes">{{ 'admin.quiz.question.checkboxesType' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="options-container">
            <div class="option-wrapper" *ngFor="let option of question.options">
                <mat-icon class="material-icons-outlined question-type-icon"
                          *ngIf="question.type === 'radio'">circle</mat-icon>

                <mat-icon class="material-icons-outlined question-type-icon"
                          *ngIf="question.type === 'checkboxes'">crop_square</mat-icon>

                <mat-form-field class="option-field">
                    <input matInput [(ngModel)]="option.option">
                </mat-form-field>

                <div class="option-actions">
                    <button mat-icon-button
                            color="primary"
                            title="{{ 'admin.quiz.question.addOption' | translate }}"
                            (click)="addOption(question, option)">
                        <mat-icon class="add material-icons-outlined">add_box</mat-icon>
                    </button>
                    <button mat-icon-button
                            color="warn"
                            title="{{ 'admin.quiz.question.deleteOption' | translate }}"
                            (click)="removeOption(question, option)">
                        <mat-icon class="delete">delete_forever</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-button mat-raised-button color="success" (click)="saveQuestion(question)">{{ 'admin.quiz.question.saveQuestion' | translate }}</button>
        <button mat-button mat-raised-button color="primary" (click)="addQuestion(question)">{{ 'admin.quiz.question.addQuestion' | translate }}</button>
        <button mat-button mat-raised-button color="warn" (click)="removeQuestion(question)">{{ 'admin.quiz.question.deleteQuestion' | translate }}</button>
    </mat-card-actions>
</mat-card>
