@import "../../../../styles/scss/imports";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      display: flex;
      width: 300px;
      height: 80px;
      cursor: pointer;
      margin: 20px;
      border: 1px solid $cardBorderColor;
      border-radius: 5px;
      background-color: $cardBackgroundColor;

      .icon {
        user-select: none;
        flex: 1;
        .mat-icon {
          margin-right: 10px;
          font-size: 70px;
          width: 100%;
          height: 100%;
          color: grey;
        }
      }
      .text {
        flex: 3;
        width: 90%;
        .mat-card-title {
          text-align: left;
          line-height: 0.8em;
          font-size: 14px;
          margin-bottom: 15px;
        }
        .mat-card-subtitle {
          text-align: left;
          font-size: 12px;
        }
        .mat-card-content {
          margin: 0;
          flex-direction: flex-end;
          height: 20px;
          color: $actionGreen;
          text-align: right;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    .wrapper {
      width: 80%;
      .card {
        width: 35%;
        .text {
          width: 80%;
          .mat-card-title {
            line-height: 1em;
          }
        }
      }
    }
  }
}
@media (min-width: 960px) {
  .container {
    .wrapper {
      .card {
        height: 100px;
        .icon {
          .mat-icon {
            font-size: 80px;
          }
        }
        .text {
          .mat-card-title {
            font-size: 18px;
            line-height: 20px;
          }

          .mat-card-subtitle {
            line-height: 30px;
            font-size: 14px;
          }
          .mat-card-content {
            line-height: 20px;
            width: 90%;
          }
        }
      }
    }
  }
}
@media (min-width: 1068px) {
  .container {
    .wrapper {
      width: 75%;
      .card {
        .icon {
          .mat-icon {
            font-size: 90px;
          }
        }
        .text {
          .mat-card-title {
            line-height: 30px;
          }
          .mat-card-content {
            width: 80%;
          }
        }
      }
    }
  }
}
