<div class="wrapper">
  <mat-card class="card" routerLink="/admin/course-list">
    <mat-card-header>
      <mat-card-title>{{ "admin.dashboard.coursesCardTitle" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-chip-list>
      <mat-chip color="primary" selected>{{ "admin.dashboard.numberOfCourses" | translate }}</mat-chip>
      <mat-chip color="accent" selected>{{courseHours}}</mat-chip>
    </mat-chip-list>
    <mat-card-content>
      <mat-icon>folder_open</mat-icon>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" routerLink="/admin/users">
    <mat-card-header>
      <mat-card-title>{{ "admin.dashboard.usersCardTitle" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-chip-list>
      <mat-chip color="primary" selected>{{ "admin.dashboard.numberOfUsers" | translate }}</mat-chip>
      <mat-chip color="accent" selected>{{studentsNumber}}</mat-chip>
    </mat-chip-list>
    <mat-card-content>
      <mat-icon>perm_identity</mat-icon>
    </mat-card-content>
  </mat-card>
</div>
