@import "./src/styles/scss/imports";

app-options-field-configuration {
  .options-container {
    display: flex;
    flex-direction: column;

    .display-options {
      .mat-button-toggle-group {
        margin-left: 10px;

        .mat-button-toggle-label-content {
          line-height: normal;
          padding: 5px;

          .mat-icon {
            height: 20px;
            width: 20px;
            font-size: 20px;
          }
        }
      }
    }

    .option-wrapper {
      flex: 1;
      display: flex;
      align-items: center;

      .question-type-icon {
        color: $lightBorder;
        margin-right: 5px;
      }

      .option-field {
        flex: 1
      }

      .option-actions {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 10px;
      }
    }
  }
}
