<div class="options-container">
    <div *ngIf="question.type === FIELD_TYPES.RADIO" class="display-options">
        {{ 'admin.quiz.question.displayOptionsAs' | translate }}
        <mat-button-toggle-group value="{{position}}" (change)="positionChanged($event)">
            <mat-button-toggle value="vertical" title="{{ 'admin.quiz.question.verticalDisplay' | translate }}">
                <mat-icon class="material-icons-outlined">vertical_distribute</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="horizontal" title="{{ 'admin.quiz.question.horizontalDisplay' | translate }}">
                <mat-icon class="material-icons-outlined">horizontal_distribute</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="option-wrapper" *ngFor="let option of question.options">
        <mat-icon *ngIf="question.type !== FIELD_TYPES.SELECT" class="material-icons-outlined question-type-icon">
            <ng-container *ngIf="question.type === FIELD_TYPES.RADIO; else checkboxIcon">radio_button_unchecked</ng-container>
            <ng-template #checkboxIcon>check_box_outline_blank</ng-template>
        </mat-icon>

        <mat-form-field class="option-field">
            <input matInput [(ngModel)]="option.option">
        </mat-form-field>

        <div class="option-actions">
            <button mat-icon-button
                    color="primary"
                    title="{{ 'admin.quiz.question.addOption' | translate }}"
                    (click)="addOption(question, option)">
                <mat-icon class="add material-icons-outlined">add_box</mat-icon>
            </button>
            <button mat-icon-button
                    color="warn"
                    title="{{ 'admin.quiz.question.deleteOption' | translate }}"
                    (click)="removeOption(question, option)">
                <mat-icon class="delete">delete_forever</mat-icon>
            </button>

            <mat-slide-toggle *ngIf="quizSettingsService.quizType === QUIZ_KNOWLEDGE_TYPE"
                    title="{{ 'admin.quiz.question.chooseValidAnswer' | translate }}"
                    [checked]="option.valid"
                    (change)="validOptionChanged($event, question, option)"></mat-slide-toggle>
        </div>
    </div>
</div>
