<mat-card class="quiz-settings-card">
    <mat-card-content>
        <form [formGroup]="settingsForm">
            <formly-form [form]="settingsForm"
                         [fields]="settingsFormFields"
                         [model]="settingsFormModel"></formly-form>
        </form>
    </mat-card-content>

    <mat-card-actions align="end">
        <button [disabled]="settingsForm.invalid" mat-raised-button mat-button color="success" (click)="saveQuizSettings()">{{ "general.save" | translate }}</button>
    </mat-card-actions>
</mat-card>
