.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  .mat-dialog-title {
    display: flex;
    margin: 0 0 40px;

    .title {
      flex: 1;
      font-size: 26px;
      font-family: Roboto;
      font-weight: 700;
    }

    .close {
      display: flex;
      font-size: 1.5em;
      border: none;
      background-color: transparent;
      text-align: end;
      cursor: pointer;
    }
  }

  .mat-dialog-title.subtitle {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .add-resource {
    display: flex;
    button {
      float: right;
    }
  }

  .resource-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .resources {
      display: flex;
      width: 90%;
      height: 150px;
      flex-direction: column;
      margin-top: 30px;
      padding-bottom: 20px;

      .resource-field {
        outline: none;
      }

      .single-resource {
        line-height: 30px;
        border-bottom: 1px solid grey;
        display: flex;
        align-items: center;

        mat-icon {
          font-size: 20px;
        }

        .link-under {
          margin-left: 20px;
          display: flex;
          flex-direction: column;

          .resource-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 300px;
            font-size: 15px;
          }

          .resource-link {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 300px;
            cursor: pointer;
            color: inherit;
            text-decoration: none;
            font-size: 11px;
            font-weight: 600;
          }

          .resource-link:hover {
            text-decoration: underline;
          }
        }

        .delete-icon {
          margin-left: auto;
          cursor: pointer;
        }
      }
    }
  }

  .resource-added-info {
    font-weight: 600;
    margin-left: auto;
  }

  .action-info {
    margin-left: auto;
  }

  .mat-dialog-actions {
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 30px;
  }
}
