<div class="container">
  <h1 mat-dialog-title class="title">
    {{
      "admin.createCourseContent.manageResourcesDialog.contentTitle" | translate
    }}
    {{ content.name }}
  </h1>
  <h5 mat-dialog-title class="subtitle">
    {{
      "admin.createCourseContent.manageResourcesDialog.resourceManagement"
        | translate
    }}
  </h5>
  <div class="add-resource" mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onAddResource()">
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>
      <button mat-raised-button color="primary" [disabled]="!form.valid">
        {{
          "admin.createCourseContent.manageResourcesDialog.addResource"
            | translate
        }}
      </button>
    </form>
  </div>
  <div class="resource-container">
    <div class="resources" mat-dialog-content>
      <div
        class="resource-field"
        *ngFor="let resource of resources; let i = index"
        tabindex="resource.index"
        #resourcesContainer
      >
        <div class="single-resource">
          <mat-icon [inline]="true" aria-hidden="false">attachment</mat-icon>
          <div class="link-under">
            <span class="resource-name" [title]="resource.name">{{
              resource.name
            }}</span>
            <a
              class="resource-link"
              [href]="resource.url"
              target="_blank"
              [title]="resource.url"
              >{{ resource.url }}</a
            >
          </div>
          <span class="delete-icon"
            ><mat-icon
              [inline]="true"
              aria-hidden="false"
              (click)="onResourceDelete(resource)"
              >delete_forever</mat-icon
            ></span
          >
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-flat-button [mat-dialog-close]="true">
      {{ "general.close" | translate }}
    </button>
  </div>
</div>
