<mat-card class="loginCard">
  <mat-card-content>
    <form [formGroup]="form" class="loginForm">
      <h2>{{ "general.login" | translate }}</h2>
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>

      <button mat-raised-button (click)="onSubmit()" [disabled]="form.invalid">
        {{ "general.login" | translate }}
      </button>
      <div class="options">
        <p class="register devider">
          <span> {{ "preview.login.forgotPassword" | translate }} </span
          ><a (click)="forgotPassword()">
            {{ "preview.login.clickHere" | translate }}</a
          >
        </p>
        <p class="register">
          <span>{{ "preview.login.noAccount" | translate }}</span>
          <a routerLink="../register">{{
            "preview.login.register" | translate
          }}</a>
        </p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
