@import "../../../../styles/scss/imports";

.loginCard {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;

  mat-form-field {
    display: block;
    margin-bottom: 10px;
  }

  .mat-raised-button {
    color: $textWithBackground;
    background-color: $registerButton;
    margin-bottom: 10px;
  }
  .options {
    display: flex;
    margin-top: 50px;
    .devider {
      border-right: 1px solid #f0eded;
    }
    .register {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 5px;
      font-weight: 500;
    }

    .register a {
      color: $loginLinkTextColor;
      text-decoration: none;
    }
  }
}
