@import "./src/styles/scss/imports";

.row-action-cell {
  .mat-icon-button {
    &:not(:last-child) {
      margin-right: 10px;
    }

    &.action-red {
      color: $actionRed;
    }

    &.action-green {
      color: $actionGreen;
    }
  }

}