<div class="dashboard">

  <div fxLayout="row" class="header">
    <div fxFlex="80"
         fxLayoutAlign="space-evenly center"
         fxLayoutAlign.xs="center"
         margin="auto" class="container">
      <div fxFlex="100">
        <div class="avatar">
          <a href="#">
            <img
              src="https://demos.creative-tim.com/material-dashboard-pro-angular2/assets/img/faces/marc.jpg"
            />
          </a>
        </div>
      </div>
      <div
        fxLayout="column"
        fxFlex="30"
        fxFlex.lt-md="80"
        fxLayoutAlign="center center">
        <mat-card class="user-profile-card">
          <mat-card-header class="card-header card-header-icon">
            <div class="card-icon-profile">
              <i class="material-icons">account_circle</i>
            </div>
            <mat-card-title class="card-title">
              <h3>{{ "user.dashboard.profile" | translate }}</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-body">
            <p>
            <span class="mat-body-strong">
              {{ "user.dashboard.name" | translate }}: </span>
              {{ user.firstName }}
              {{ user.lastName }}
            </p>
            <p>
            <span class="mat-body-strong">{{ "user.dashboard.member" | translate }}: </span>20.12.2020
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div
        fxLayout="column"
        fxFlex="30"
        fxFlex.lt-md="80"
        fxLayoutAlign="center center">
        <mat-card class="user-profile-card">
          <mat-card-header class="card-header card-header-icon">
            <div class="card-icon-contact">
              <i class="material-icons">email</i>
            </div>
            <mat-card-title class="card-title">
              <h3>{{ "user.dashboard.contact" | translate }}</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-body">
            <p>
            <span class="mat-body-strong">
              {{ "general.email" | translate }}:
            </span>
              {{ user.email }}
            </p>
            <p>
            <span class="mat-body-strong"
            >{{ "user.dashboard.phone" | translate }}: </span
            >0745130568
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div
        fxLayout="column"
        fxFlex="30"
        fxFlex.lt-md="80"
        fxLayoutAlign="center center">
        <mat-card class="user-profile-card">
          <mat-card-header class="card-header card-header-icon">
            <div class="card-icon-stats">
              <i class="material-icons">library_books</i>
            </div>
            <mat-card-title class="card-title">
              <h3>{{ "user.dashboard.statistics" | translate }}</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-body">
            <p>
            <span class="mat-body-strong">
              {{ "user.dashboard.totalCourses" | translate }}: </span>5
            </p>
            <p>
            <span class="mat-body-strong">{{ "user.dashboard.totalHours" | translate }}: </span>120
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <mat-card class="tabs-container mat-elevation-z">
    <mat-card-content>
      <mat-tab-group (selectedTabChange)="selectedTabChange($event)">
        <mat-tab *ngFor="let tab of courseTabs" label="{{ tab.name }}">
          <ng-template matTabContent>
            <div class="app-course-wrapper">
              <div class="card-box" *ngFor="let course of tab.courseList">
                <app-course-card
                  class="app-course-card mat-elevation-z4"
                  [course]="course"
                  [types]="types"
                  [hasAction]="true"
                  (cardAction)="goToCourse(course)"
                ></app-course-card>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
