<mat-card class="userProfileCard">
  <mat-card-header>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxFlex fxLayoutAlign="space-around center" class="userStatsContainer">
      <mat-card-subtitle> {{ 'general.email' | translate }}:
        <div class="userStats">{{user.email}}</div>
      </mat-card-subtitle>
      <mat-card-subtitle> {{ 'user.dashboard.totalHours' | translate }}:
        <div class="userStats">120</div>
      </mat-card-subtitle>
      <mat-card-subtitle> {{ 'user.dashboard.totalCourses' | translate }}:
        <div class="userStats">5</div>
      </mat-card-subtitle>
    </div>
  </mat-card-content>
</mat-card>



<mat-card class="usertabsContainer">
  
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="selectedTabChange($event)">
      <mat-tab *ngFor="let tab of courseTabs" label="{{tab.name}}">
        <ng-template matTabContent>
          <div class="app-course-wrapper">
            <div *ngFor="let course of tab.courseList" >
                <app-course-card class="mat-elevation-z4" [course]="course" [hasAction]="true" (cardAction)="goToCourse(course)"></app-course-card>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      
    </mat-tab-group>
  </mat-card-content>
</mat-card>



<!--Prima varianta comisa-->
<!-- <nav mat-tab-nav-bar class="user-course-tabs">
  <div fxLayout="row" fxFlex fxLayoutAlign="space-between center" >
    <a mat-tab-link *ngFor="let course of courseTabs | async"
       (click)="goToCourse(course)"
       class="course-tab"
       >{{course.name}}
       </a>
  </div>
</nav>  -->


<!-- <div class="app-course-wrapper">
    <div *ngFor="let course of courseList" >
        <app-course-card class="mat-elevation-z4" [course]="course" [hasAction]="true" (cardAction)="goToCourse(course)"></app-course-card>
    </div>
</div> -->






<!--  EU -->
<!-- <mat-card class="userProfileCard">

  <mat-card-content class="avatar">
    <div class="dashboard-avatar" fxLayout="row" fxFlex fxLayoutAlign="space-around center" fxflex="100">
    <a href="#">
      <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" width="100" height="100"/></a>
    </div>
  </mat-card-content>

  <mat-card-content class="userStatsContainer" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">

      <mat-card-content class="col" fxLayout="column" fxflex="30" fxflex.lt-md="80" fxlayoutalign="space-evenly center">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div class="card-icon-profile">
            <i class="material-icons">account_circle</i>
          </div>
          <mat-card-title>Profil</mat-card-title>
        </div>
        <div fxLayout="column" fxLayoutAlign="start" style="display: block">
          <mat-card-subtitle>Nume: {{user.firstName}} {{user.lastName}}</mat-card-subtitle>
          <mat-card-subtitle>Membru din: user.signupDate </mat-card-subtitle>
        </div>
      </mat-card-content>

      <mat-card-content class="col" fxLayout="column" fxflex="30" fxflex.lt-md="80" fxlayoutalign="center center">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div class="card-icon-profile">
            <i class="material-icons">account_circle</i>
          </div>
          <mat-card-title>Profil</mat-card-title>
        </div>
        <div fxLayout="column" fxLayoutAlign="start" style="display: block">
          <mat-card-subtitle>Nume: {{user.firstName}} {{user.lastName}}</mat-card-subtitle>
          <mat-card-subtitle>Membru din: user.signupDate </mat-card-subtitle>
        </div>
      </mat-card-content>

      <mat-card-content class="col" fxLayout="column" fxflex="30" fxflex.lt-md="80" fxlayoutalign="center center">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div class="card-icon-profile">
            <i class="material-icons">account_circle</i>
          </div>
          <mat-card-title>Profil</mat-card-title>
        </div>
        <div fxLayout="column" fxLayoutAlign="start" style="display: block">
          <mat-card-subtitle>Nume: {{user.firstName}} {{user.lastName}}</mat-card-subtitle>
          <mat-card-subtitle>Membru din: user.signupDate </mat-card-subtitle>
        </div>
      </mat-card-content>

  </mat-card-content>
</mat-card> -->
