<div class="container">
  <h1 mat-dialog-title>Titlu resursa: {{ content.name }}</h1>
  <div class="add-resource" mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onAddResource()">
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>
      <button mat-raised-button color="primary">+ Adauga resursa</button>
    </form>
  </div>
  <div class="resource-container">
    <div class="resources" mat-dialog-content>
      <div
        class="resource-field"
        *ngFor="let resource of resources; let i = index"
        tabindex="i"
        #resourcesContainer
      >
        <div class="single-resource">
          <mat-icon [inline]="true" aria-hidden="false">attachment</mat-icon>
          <a class="resource-name" [href]="resource.url" target="_blank">{{
            resource.name
          }}</a>
          <span class="delete-icon"
            ><mat-icon
              [inline]="true"
              aria-hidden="false"
              (click)="onResourceDelete()"
              >delete_forever</mat-icon
            ></span
          >
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-flat-button [mat-dialog-close]="true">
      {{ "general.close" | translate }}
    </button>
  </div>
</div>
