@import "../../../../styles/scss/imports";

.course-list-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  app-grid {
    .unpublished {
      background-color: $unpublished;
      color: $navBarTextColor;
    }

    .published {
      background-color: $published;
      color: $navBarTextColor;
    }

    .closed {
      background-color: $close;
      color: $navBarTextColor;
    }

    .status {
      padding: 1px 10px;
      border-radius: 6px;
    }
  }
}

.create-course {
  margin: 10px;
}
