@import "../../../../styles/scss/imports";

.mat-card.course-card {
  width: 100%;
  cursor: pointer;
  border: 1px solid $cardBorderColor;
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
  border-radius: 6px;

  &:hover [data-header-animation="true"] {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  [data-header-animation="true"] {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
  }

  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
    border-radius: 20px;
  }

  .mat-card-header {
    flex-direction: column-reverse;
    padding: 0 16px;

    .card-header-image {
      position: relative;
      padding: 0;
      z-index: 1;
      margin: -30px 15px 0;
      border-radius: 6px;
      background-size: cover;
      background-position: 50%;
      height: 220px;
      box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    .mat-card-header-text {
      font-size: 1.125rem;
      font-weight: 300;
      color: #3c4858;
      text-align: center;
      margin: 10px 0 10px;

      .mat-card-title {
        line-height: 1.2em;
      }
    }
  }

  .image-card {
    padding-top: 50%;
    background-size: cover;
    background-position: center;
  }

  .mat-card-content {
    padding: 0 20px;
    flex: 1 1 auto;

    .course-label {
      display: flex;
      justify-content: center;
      padding: 5px 0 10px 0;

      .label {
        border-radius: 12px;
        padding: 2px 8px;
        text-transform: uppercase;
        font-size: 10px;
        margin: 0 2px;
      }

      .label-1 {
        background: linear-gradient(
          $gradientDegree,
          $themeColor1-light,
          $themeColor1-dark
        );
        color: #fff;
      }

      .label-2 {
        background: linear-gradient(
          $gradientDegree,
          $themeColor2-light,
          $themeColor2-dark
        );
        color: #fff;
      }

      .label-3 {
        background: linear-gradient(
          $gradientDegree,
          $themeColor4-light,
          $themeColor4-dark
        );
        color: #fff;
      }
    }

    .course-description,
    .course-short-description {
      text-align: left;
      color: #999;
      line-height: 1.5em;
      font: 400 14px Roboto, Helvetica Neue, sans-serif;
      letter-spacing: normal;
      flex: 1 1 auto;
    }
  }

  .registration-button-container {
    display: flex;
    padding: 8px;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    .register {
      display: block;
      background-color: $themeColor1-light;
      color: $textWithBackground;
      text-align: center;
      background-color: #6e73fc;
      font-size: large;
      font-weight: 400;
    }
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .percent {
      margin-left: 6px;
    }
  }

  .status {
    margin: 10px 0;
    .status-pending {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      h5 {
        margin: 10px;
        font-size: 15px;
        font-weight: 400;
      }
      p {
        font-size: 0.8em;
        line-height: 0.8rem;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
      }
    }
    .status-pending-payment {
      background: $themeColorWarning;
    }
    .status-pending-registration {
      background: $themeColorInfo;
    }
    .status-rejected {
      background: $themeColorError;
    }
  }

  .card-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background: #eaeaea;
    padding: 15px 20px;

    div {
      display: flex;
      flex-basis: calc(35% - 5px);
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      h4 {
        color: #b9afc2;
        margin: 0;
        font-weight: 500;
        font-size: 0.7rem;
        line-height: 0.7rem;
      }
      p {
        padding-left: 5px;
        margin: 0;
        font-weight: 500;
        font-size: 0.7rem;
        line-height: 0.7rem;
        text-align: center;
      }
      div {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-grow: 2;
      }
    }
    .footer-item {
      display: flex;
      flex-direction: row;
      padding: 3px;
    }
    .footer-item-grow {
      flex-grow: 1;
    }
  }
}
