<!-- Common content for course card -->
<ng-template #cardContent>
  <mat-card-header>
    <div
      data-header-animation="true"
      class="card-header-image img"
      [ngStyle]="{
        'background-image':
          'url(' + (course.image ? course.image : DEFAULT_COURSE_IMG) + ')'
      }"
    ></div>
    <mat-card-title>{{ course.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="course-short-description">
      {{ course.shortDescription }}
    </div>
    <div class="course-description">
      {{ course.description }}
    </div>
  </mat-card-content>

  <div *ngIf="tab?.type === 'RECOMMENDED'">
    <div class="registration-button-container">
      <button
        class="register"
        (click)="registerClick(course.id, $event)"
        mat-button
      >
        {{ "card.register" | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="tab?.type === 'PENDING'" class="status">
    <div
      *ngIf="course['status'] === 'PAYMENT_PENDING'"
      class="status-pending status-pending-payment"
    >
      <h5>{{ "card.payment_pending_title" | translate }}</h5>
      <p>{{ "card.payment_pending_description" | translate }}</p>
    </div>
    <div
      *ngIf="course['status'] === 'REGISTRATION_PENDING'"
      class="status-pending status-pending-registration"
    >
      <h5>{{ "card.registration_pending_title" | translate }}</h5>
      <p>{{ "card.registration_pending_description" | translate }}</p>
    </div>
  </div>

  <div *ngIf="tab?.type === 'ONGOING'">
    <div
      class="progress-bar"
      *ngIf="course.progress !== undefined && !hideProgressbar"
    >
      <div class="percent">
        {{ "card.progress" | translate }}: {{ course.progress }}%
      </div>
      <mat-progress-bar
        mode="determinate"
        value="{{ course.progress }}"
      ></mat-progress-bar>
    </div>
  </div>
  <div class="card-footer">
    <div class="footer-item footer-item-grow">
      <h4>{{ "card.duration" | translate }} :</h4>
      <p>{{ course.hours }} ore</p>
    </div>
    <div class="footer-item">
      <h4>{{ "card.role" | translate }} :</h4>
      <p>-</p>
      <!-- TODO replace when data come from endpoint -->
      <!-- <p>{{course.courseRole}}</p> -->
    </div>
    <div class="footer-item footer-item-grow">
      <h4>{{ "card.period" | translate }}:</h4>
      <p>
        {{ course.startDate | date: "dd.MM.yyyy" }}-{{
          course.startDate | date: "dd.MM.yyyy"
        }}
      </p>
      <!-- TODO  replace when data come from endpoint -->
      <!-- <p>
            {{ course.startDate | date: "dd.MM.yyyy" }}-{{
                course.endDate | date: "dd.MM.yyyy"
            }}
        </p> -->
    </div>
    <div class="footer-item">
      <h4>{{ "card.price" | translate }}:</h4>
      <p>-</p>
      <!-- TODO replace when data come from endpoint -->
      <!-- <p>{{course.price}}</p> -->
    </div>
  </div>
</ng-template>

<!-- Card without action -->
<mat-card
  class="course-card"
  *ngIf="!hasAction"
  appMaterialElevation
  [defaultElevation]="defaultElevation"
  [raisedElevation]="raisedElevation"
>
  <ng-container [ngTemplateOutlet]="cardContent"></ng-container>
</mat-card>

<!-- Card with action -->
<mat-card
  class="course-card"
  *ngIf="hasAction"
  appMaterialElevation
  [defaultElevation]="defaultElevation"
  [raisedElevation]="raisedElevation"
  (click)="triggerCardAction()"
>
  <ng-container [ngTemplateOutlet]="cardContent"></ng-container>
</mat-card>
