<div class="container">
  <div mat-dialog-title>
    <div class="title">{{"user.dashboard.uploadProfilePictureDialogComponentTitle" | translate}}</div>
    <button mat-dialog-close class="close">
      <span class="material-icons-outlined">close</span>
    </button>
  </div>
  <div mat-dialog-content>
    <app-upload [config]="uploadConfig" #uploadComponent ></app-upload>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-flat-button [mat-dialog-close]="true">
      {{ "general.close" | translate }}
    </button>
  </div>
</div>
