.mat-dialog-container {
  display: flex;

  app-upload-profile-picture-dialog {
    height: 400px;
    flex: 1;

    .container {
      display: flex;
      flex-direction: column;
      height: 100%;

      .mat-dialog-title {
        display: flex;
        margin: 0;
        margin-bottom: 20px;

        .title {
          flex: 1;
          font-size: 26px;
          font-family: Roboto;
          font-weight: 700;
        }

        .close {
          display: flex;
          font-size: 1.5em;
          border: none;
          background-color: transparent;
          text-align: end;
          cursor: pointer;
        }
      }

      .mat-dialog-content {
        flex: 1;
      }

      .mat-dialog-actions {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

