<div mat-dialog-title *ngIf="data?.content?.name">
  Adauga Continut pentru "{{ data?.content?.name }}"
</div>

<div mat-dialog-content>

  <div class="choseContentType">
    <form class="form">
      <mat-form-field>
        <input type="text" matInput
               placeholder="{{'admin.createCourseContent.editCourseContentDialog.choseContentType' | translate}}"
               [formControl]="myControl"
               [matAutocomplete]="auto" [(ngModel)]="contentType">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayHandler">
          <mat-option *ngFor="let option of options " [value]="option">
            {{option.label}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="addContentContainer">
    <div class="zoomContainer" *ngIf="contentType.type === 'VIDEO'">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="url" placeholder="URL: https://">

      </mat-form-field>
    </div>
    <div class="zoomContainer" *ngIf="contentType.type === 'ZOOM'">
      <mat-form-field>
      <input matInput type="text" [(ngModel)]="url" placeholder="Link to Zoom Meeting https://">

      </mat-form-field>
    </div>

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button mat-flat-button [mat-dialog-close]="true">{{ 'general.cancel' | translate }}</button>
  <button mat-button mat-flat-button (click)="updateContent()">{{ 'general.save' | translate }}</button>
</div>
