@import "../../../../../../styles/scss/imports";

.editContentPanel {
  .mat-dialog-container {
    app-edit-course-content-dialog {
      display: flex;
      flex-direction: column;
      height: 500px;

      .mat-dialog-content {
        flex: 1;

        .choseContentType, .addContentContainer {
          padding-top: 10px;

          .mat-form-field {
            width: 100%;

            .item {
              font-size: 16px;
              padding: 10px;
              border: 1px solid $darkBorder;

              &.selected {
                background-color: $sideNavArrowBackground;
              }
            }
          }
        }

        .addContentContainer {
          .zoomContainer {
            .textarea {
              background-color: #fafafa;
            }
          }
        }
      }

      .mat-dialog-actions {
        justify-content: flex-end;
      }
    }
  }
}
