@import '~ag-grid-community/dist/styles/ag-grid';
@import 'node_modules/ag-grid-community/dist/styles/ag-theme-balham';

app-grid {
  display: flex;
  flex: 1;

  .ag-grid-component {
    flex: 1;

    .ag-cell {
      display: flex;
      align-items: center;
    }
  }
}
