@import "../../../../../styles/scss/imports";

app-grid-top-toolbar {
  z-index: 2;

  .pageToolbar, .multipleToolbar {
    @include shadowLevel-1;
    &.hideToolbar {
      display: none;
    }

    height: 45px;

    .toolbarList {
      height: 46px;
      margin: 0;
      list-style: none;
      padding: 4px 10px 6px;
      box-sizing: border-box;

      .mat-button[mat-button] {
        border-radius: 2px;
      }

      li {
        display: inline-block;
        position: relative;
        margin-right: 10px;
      }
    }

    .mat-button:disabled {
      box-shadow: none;
      background-color: $disabledPageToolbarButtonBackgroundColor;
      color: $disabledPageToolbarButtonColor;
    }
  }
}
