<div class="quiz">
    <div *ngIf="quizDetails"
         class="quizDetails">
        <div class="title">{{ quizDetails.name }}</div>
        <div class="duration">
            <span class="label">{{ "admin.quiz.settings.timeLimitLabel" | translate }}:</span>
            <span class="value">{{ quizDetails.timeLimit }} {{ "general.minutes" | translate }}</span>
        </div>
    </div>

    <div *ngIf="quizQuestions"
         class="quizQuestions">

        <formly-form [form]="quizForm"
                     [fields]="quizFields"
                     [model]="quizModel"></formly-form>
    </div>
</div>
