app-quiz {
  .quiz {
    .quizDetails {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 30px;
        margin-bottom: 30px;
      }

      .duration {
        .value {
          margin-left: 10px;
          font-weight: 700;
        }
      }
    }

    .quizQuestions {
      margin-top: 10px;

      .mat-form-field {
        margin-bottom: 15px;

        formly-field-mat-multicheckbox, mat-radio-group {
          display: flex;
          flex-direction: column;
        }

        mat-radio-group {
          .mat-radio-button {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}