<mat-card class="courseDescriptionCard">
  <mat-card-content class="coruse">
    <div class="courseBgImg">
      <img alt="" src="{{courseDetails.image}}">
    </div>
    <div class="courseDescriptionText">
      <h1>{{courseDetails.name}}</h1>
      <p>{{courseDetails.description}}</p>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="courseContentCard">
  <mat-card-header><h1>{{ 'user.course.content' | translate }}</h1></mat-card-header>

  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let chapter of courseDetails.chapters" [(expanded)]="chapter.expanded" [disabled]="chapter.disabled">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon *ngIf="chapter.type === 'PDF'">picture_as_pdf</mat-icon>
            <mat-icon *ngIf="chapter.type === 'VIDEO'">video_library</mat-icon>
            <mat-icon *ngIf="chapter.type === 'LINK'">link</mat-icon>
            <mat-icon *ngIf="chapter.type === 'QUIZ'">help_outline</mat-icon>
            <mat-icon *ngIf="chapter.type === 'ZOOM'">videocam</mat-icon>
            <span class="title">{{chapter.name}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <iframe *ngIf="chapter.type === 'PDF'" class="iframe" frameborder="0" [src]="chapter.safeUrl"
                type="application/pdf" ></iframe>
        <iframe *ngIf="chapter.type === 'VIDEO'" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="iframe"
                frameborder="0"
                [src]="chapter.safeUrl"></iframe>
        <mat-list class="externalLinks">
          <mat-list-item *ngFor="let resource of chapter.resources">
            <mat-icon>link</mat-icon>
            <a [href]="resource.safeUrl">{{resource.name}}</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

<!-- <div class="container">
<mat-card class="small-card" *ngFor="let chapter of courseDetails.chapters">
  <mat-card-header>
    <div mat-card-avatar >
      <mat-icon *ngIf="chapter.type === 'PDF'">picture_as_pdf</mat-icon>
      <mat-icon *ngIf="chapter.type === 'VIDEO'">video_library</mat-icon>
      <mat-icon *ngIf="chapter.type === 'LINK'">link</mat-icon>
      <mat-icon *ngIf="chapter.type === 'QUIZ'">help_outline</mat-icon>
      <mat-icon *ngIf="chapter.type === 'ZOOM'">videocam</mat-icon>
    </div>
      <mat-card-title>
        <span class="title">{{chapter.name}}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Descopera</button>
    </mat-card-actions>
</mat-card>
</div> -->


<!-- <mat-sidenav-container>
  <mat-sidenav 
  
  >
    <mat-toolbar>Menu</mat-toolbar>
     <mat-nav-list *ngFor="let chapter of courseDetails.chapters">
    <mat-icon class="menu-side" *ngIf="chapter.type === 'PDF'">picture_as_pdf</mat-icon>
      <mat-icon class="menu-side" *ngIf="chapter.type === 'VIDEO'">video_library</mat-icon>
      <mat-icon class="menu-side" *ngIf="chapter.type === 'LINK'">link</mat-icon>
      <mat-icon class="menu-side" *ngIf="chapter.type === 'QUIZ'">help_outline</mat-icon>
      <mat-icon class="menu-side" *ngIf="chapter.type === 'ZOOM'">videocam</mat-icon>
      <a class="menu-side-name" mat-list-item>{{chapter.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-toolbar id="content-section-toolbar" class="content-toolbar" >
  
  Resurse de invatare
</mat-toolbar>

<mat-sidenav-container>
<mat-sidenav mode='side' opened>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <button mat-icon-button disabled></button>
        {{node.name}}
      </li>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li>
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </div>
        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</mat-sidenav>
<mat-sidenav-content>
</mat-sidenav-content>
</mat-sidenav-container>