<div class="containerTree">
    <mat-sidenav-container autosize>
        <mat-sidenav #sidenav mode='side' opened [disableClose]="true">
            <div class="sidenav-toolbar"
                 [ngClass]="{'opened' : sidenav.opened}"
                 *ngIf="sidenav.opened"
                 (click)="sidenav.toggle()"
                 title="{{ 'general.collapse' | translate }}">
                <mat-icon>menu_open</mat-icon>
            </div>

            <div *ngIf="sidenav.opened" class="course-header">
                <div class="title">{{this.courseDetails?.name}}</div>
                <mat-progress-bar mode="determinate" value="{{this.courseDetails?.progress}}"></mat-progress-bar>
            </div>

            <mat-tree *ngIf="sidenav.opened" #tree
                      [dataSource]="dataSource"
                      [treeControl]="treeControl">

                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <div class="tree-node"
                         (click)="openNode(node.id)"
                         [ngClass]="{'active': nodesMap.get(node.id).active, 'disabled': !node.enabled}">
                        <div [ngSwitch]="node.contentType" class="node-icon">
                            <mat-icon *ngSwitchCase="'PDF'">library_books</mat-icon>
                            <mat-icon *ngSwitchCase="'VIDEO'">play_circle_filled</mat-icon>
                            <mat-icon *ngSwitchCase="'ZOOM'">video_camera_front</mat-icon>
                            <mat-icon *ngSwitchCase="'QUIZ'">quiz</mat-icon>
                        </div>

                        {{node.name}}
                    </div>
                </mat-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <div class="tree-node-with-children">
                        <div class="tree-node" matTreeNodeToggle>
                            <mat-icon class="expand-collapse">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>

                            {{node.name}}
                        </div>
                        <div [ngClass]="{'hidden-node': !treeControl.isExpanded(node)}" class="tree-node-list">
                            <ng-container matTreeNodeOutlet></ng-container>
                        </div>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>

        </mat-sidenav>

        <mat-sidenav-content>
            <div class="sidenav-toolbar" *ngIf="!sidenav.opened"
                 (click)="sidenav.toggle()"
                 title="{{ 'general.expand' | translate }}">
                <mat-icon>menu</mat-icon>
            </div>

            <div class="course-information-container" *ngIf="selectedNode">
                <div class="course-toolbar">
                    <button class="prev"
                            mat-button
                            title="{{ 'user.course.prev' | translate }}"
                            (click)="navigateToNextNode(false)"
                            [disabled]="disablePrevButton">
                        <mat-icon>navigate_before</mat-icon>
                    </button>

                    <button class="next"
                            mat-button
                            title="{{ 'user.course.next' | translate }}"
                            (click)="navigateToNextNode(true)"
                            [disabled]="disableNextButton || !selectedNode.isCompleted">
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                </div>

                <mat-card class="course-information">
                    <iframe *ngIf="selectedNode?.url"
                            class="iframe"
                            frameborder="0"
                            [src]="selectedNode.url"
                            type="application/pdf"></iframe>

                    <div class="external-resources" *ngIf="selectedNode?.resourceSummary.length">
                        <div class="header">{{ "user.course.externalResources" | translate }}</div>

                        <ul class="content">
                            <li class="resource" *ngFor="let resource of selectedNode.resourceSummary">
                                <a class="link" target="_blank" [href]="resource.url">{{ resource.name }}</a>
                            </li>
                        </ul>
                    </div>

                    <button *ngIf="!selectedNode.isCompleted" mat-button color="success"
                            class="finalize-content"
                            title="{{ 'user.course.finalizeContent' | translate }}"
                            (click)="finalizeContent()">
                        <mat-icon>done</mat-icon>
                        {{ 'user.course.finalizeContent' | translate }}
                    </button>

                </mat-card>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>
