@import "../../../../styles/scss/imports";

app-course {
  display: flex;
  flex-direction: column;
  height: 100%;

  .containerTree {
    display: flex;
    flex: 1;

    mat-sidenav-container {
      width: 100%;

      mat-sidenav {
        width: 300px;

        .course-title {
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 20px;
          border-bottom: 1px solid $border;
          font-size: 18px;
          font-weight: 500;
        }

        .mat-tree {
          margin-top: 10px;

          .tree-node-list, .tree-node {
            margin-top: 0;
            margin-bottom: 0;
            list-style-type: none;
          }

          .hidden-node {
            display: none;
          }

          .tree-node .mat-button-wrapper {
            color: $themeColor1-dark;
          }
        }
      }

      .mat-sidenav-content {
        display: flex;

        .course-information {
          flex: 1;

          .iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}



