<mat-card class="courseDescriptionCard">
  <mat-card-content>
    <img src="https://studiipaliative.odoo.com/web/image/slide.channel/9/image_1024?unique=6912cb7" alt="">
    <div class="courseDescriptionText">
      <h1>Introducere în îngrijire paliativă</h1>
      <p>Este un curs unde vă veţi familiariza cu noţiunile de paliaţie, cu modul de abordare holistică a pacientului şi
        cu noţiunile de stabilire a prognosticului la pacientul oncologic. De asemenea cursul abordează legislaţia la zi
        legată de serviciile paliative şi modul de finanațare al acestora, precum și paşii care trebuie parcurşi în
        vederea deschiderii unui serviciu de îngrijiri paliative.

        Veți putea accesa şi descărca multiple resurse educaţionale: materialul de curs, protocoalele clinice, articole,
        broșuri.

        Inţelegem că este important contactul cu lectorii şi sprijinul oferit de aceştia pe parcursul învăţării online.
        Veţi putea comunica pe forumul cursului cu experţi în paliaţie, discutând probleme clinice concrete cu care vă
        întâlniţi în practică.

        Evaluarea cunoştinţelor se va face la sfârşitul fiecărui curs, prin teste grilă. Testul de evaluare permite un
        acces pentru maximum două încercări și conţine un număr de 20 întrebări tip grilă. Pragul de promovare este 75 %
        răspunsuri corecte la intrebari. Timpul alocat parcurgerii acestuia este de 30 de minute respectiv 90 de secunde
        pentru fiecare intrebare. </p>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="courseContentCard">
  <mat-card-header><h1>Content</h1></mat-card-header>

  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>picture_as_pdf</mat-icon>
            <span class="title">Presentation</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <iframe src="/assets/Mobilizarea-pacientilor.pdf" type="application/pdf" frameborder="0"
                class="iframe"></iframe>
        <mat-list class="externalLinks">
          <mat-list-item>
            <mat-icon>link</mat-icon>
            <a href="https://google.com">External link 1</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>link</mat-icon>
            <a href="https://google.com">External link 2</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>link</mat-icon>
            <a href="https://google.com">External link 3</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>link</mat-icon>
            <a href="https://google.com">External link 4</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>video_library</mat-icon>
            <span class="title">Helpful video</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <iframe class="iframe" src="https://www.youtube.com/embed/_YUQmUc60Jc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>link</mat-icon>
            <span class="title">External content</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list class="externalLinks">
          <mat-list-item>
            <mat-icon>link</mat-icon>
            <a href="https://google.com">External link 1</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>link</mat-icon>
            <a href="https://google.com">External link 2</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>link</mat-icon>
            <a href="https://google.com">External link 3</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>link</mat-icon>
            <a href="https://google.com">External link 4</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel disabled="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>link</mat-icon>
            <span class="title">External content</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-card-content>
</mat-card>
