<mat-card class="courseDescriptionCard">
  <mat-card-content class="coruse">
    <div class="courseBgImg">
      <img alt="" src="{{courseDetails.image}}">
    </div>
    <div class="courseDescriptionText">
      <h1>{{courseDetails.name}}</h1>
      <p>{{courseDetails.description}}</p>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="courseContentCard">
  <mat-card-header><h1>Content</h1></mat-card-header>

  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let chapter of courseDetails.chapters" [(expanded)]="chapter.expanded" [disabled]="chapter.disabled">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon *ngIf="chapter.type === 'PDF'">picture_as_pdf</mat-icon>
            <mat-icon *ngIf="chapter.type === 'VIDEO'">video_library</mat-icon>
            <mat-icon *ngIf="chapter.type === 'LINK'">link</mat-icon>
            <mat-icon *ngIf="chapter.type === 'QUIZ'">help_outline</mat-icon>
            <mat-icon *ngIf="chapter.type === 'ZOOM'">videocam</mat-icon>
            <span class="title">{{chapter.name}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <iframe *ngIf="chapter.type === 'PDF'" class="iframe" frameborder="0" [src]="chapter.safeUrl"
                type="application/pdf" ></iframe>
        <iframe *ngIf="chapter.type === 'VIDEO'" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="iframe"
                frameborder="0"
                [src]="chapter.safeUrl"></iframe>
        <mat-list class="externalLinks">
          <mat-list-item *ngFor="let resource of chapter.resources">
            <mat-icon>link</mat-icon>
            <a [href]="resource.safeUrl">{{resource.name}}</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
