@import "../../../../styles/scss/imports";

.setPasswordCard {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;

  mat-form-field {
    display: block;
    margin-bottom: 10px;
  }

  .mat-raised-button {
    background-color: $loginButtonColor;
    margin-bottom: 10px;
    color: $navBarTextColor;
  }

}

