<div class="create-course-content-container">
  <div class="beak-to-course-list-container">
    <div class="beak-to-course-list" (click)="beakToCourseListHandler()" >
      <span class="material-icons-outlined">arrow_back_ios</span>
    </div>
  </div>
  <div class="course-title">
    {{course?.name}}
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="addSection()" >
      {{'admin.createCourseContent.addSectionButton' | translate}}
    </button>
  </div>
  <div class="sections-container">

    <div class="section" *ngFor="let section of course?.sectionList, let sectionIndex = index">
      <div class="section-container" >
        <div class="title" *ngIf="section.id !== editedSectionId">{{section.name}}</div>

        <input class="input" matInput
               value="{{section.name}}"
               *ngIf="section.id === editedSectionId"
               (keypress)="setSectionTitle($event, section)"
               (focusout)="setSectionTitle($event, section)" >

        <div class="edit" (click)="editSectionTitle(section)" *ngIf="section.id !== editedSectionId">
          <span class="material-icons-outlined">mode_edit</span>
        </div>

        <div class="button-container">
          <button mat-raised-button color="primary" (click)="editSection(section)">
            {{'admin.createCourseContent.editSectionButton' | translate}}
          </button>
        </div>
      </div>

      <div class="content-container">
        <div class="content" *ngFor="let content of section.contentList, let i = index">
          <div class="title" *ngIf="content.id !== editedContentId">{{sectionIndex + 1}}.{{i + 1}} {{content.name}}</div>

          <input class="input" matInput
                 value="{{content.name}}"
                 *ngIf="content.id === editedContentId"
                 (keypress)="setContentTitle($event, content)"
                 (focusout)="setContentTitle($event, content)" >

          <div class="edit" (click)="editContentTitle(content)" *ngIf="content.id !== editedContentId">
            <span class="material-icons-outlined">mode_edit</span>
          </div>

          <div class="resource" *ngIf="content.resource?.length">({{content.resource?.length}} resurse)</div>

          <div class="button-container">
            <button mat-raised-button color="primary" (click)="editContent(content)">
              {{'admin.createCourseContent.editContentButton' | translate}}
            </button>
          </div>
        </div>
      </div>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="addContent(section)" >
          {{'admin.createCourseContent.addContentButton' | translate}}
        </button>
        <button mat-raised-button color="primary" (click)="addSection()" >
          {{'admin.createCourseContent.addSectionButton' | translate}}
        </button>
      </div>
    </div>

  </div>

</div>
