.userProfileCard {
  margin: 10px 60px;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  .userStatsContainer {
    text-align: center;
    .userStats {
      font-weight: 600;
    }
  }
}
