@import "../../../styles/scss/imports";

.userProfileCard {
  margin: 10px 60px;
  justify-content: space-evenly;
  background-color: $cardBackgroundColor;
  .userStatsContainer {
    text-align: center;
    .userStats {
      font-weight: 600;
    }
  }
}
