<mat-card class="create-course">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
    ></formly-form>
    <div class="button-row">
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">
        {{'general.save' | translate}}
      </button>
      <button mat-raised-button [disabled]="form.pristine" (click)="options.resetModel()">
        {{'general.reset' | translate}}
      </button>
      <button mat-raised-button color="warn" [disabled]="!courseId" (click)="deleteCourse()">
        {{'general.delete' | translate}}
      </button>
    </div>
  </form>
</mat-card>
