.app {
  .mat-toolbar {
    background-color: #7DC242;
    color: #ffffff;
  }

  .mat-toolbar-row {
    color: #ffffff;
  }

  .navigation {
    ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
    }
  }

  .logo-title {
    cursor: pointer;
    margin-left: 15px;
  }

  .example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .userIcons{
    .mat-icon {
      margin-left: 15px;
      margin-top: 7px;
      cursor: pointer;
    }
  }
}
