<div class="app">
  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>
      <h2 class="logo-title" (click)="goToHome()">{{ 'general.siteName' | translate }}</h2>
      <span class="example-spacer"></span>
      <nav class="navigation">
        <ul>
          <li><a mat-button routerLink="/preview" routerLinkActive="active">{{ 'general.home' | translate }}</a></li>
          <li><a mat-button routerLink="/user" routerLinkActive="active" *ngIf="!authService.isAuthenticated()">{{ 'general.login' | translate }}</a></li>
          <li><a mat-button *ngIf="authService.isAuthenticated()" (click)="getUserDetails()" routerLinkActive="active">TEST USER DETAILS</a></li>
        </ul>
      </nav>
      <div class="userIcons">
        <mat-icon *ngIf="authService.isAuthenticated()" (click)="goToDashboard()">account_circle</mat-icon>
        <mat-icon *ngIf="authService.isAuthenticated()" (click)="logout()">exit_to_app</mat-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <ng-progress [spinner]="false"></ng-progress>


  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <!-- The routed views render in the <router-outlet>-->
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>


