@import "../styles/scss/imports";

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  .mat-toolbar {
    background-color: $navBarBackgroundColor;
    color: $navBarTextColor;
  }

  .mat-toolbar-row {
    color: $navBarTextColor;
  }

  .navigation {
    ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
    }
  }

  .logo-title {
    cursor: pointer;
    margin-left: 15px;
  }

  .example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .userIcons {
    display: flex;
    .mat-icon {
      margin-right: 15px;
      margin-top: 7px;
      cursor: pointer;
    }
  }

  .main-container {
    flex: 1;
  }

  ng-progress {
    .ng-progress-bar {
      &[active="true"] {
        .ng-bar-placeholder {
          height: 4px;
        }
      }
    }
  }
}
