<div class="app">
  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>
      <h2 class="logo-title">Edu Hospice</h2>
      <span class="example-spacer"></span>
      <nav class="navigation">
        <ul>
          <li><a mat-button routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a mat-button routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a mat-button routerLink="/course" routerLinkActive="active">Course</a></li>
        </ul>
      </nav>
      <mat-icon>account_circle</mat-icon>
      <mat-icon>verified_user</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>


  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</div>


