.grid-button {
  margin: 1em;
  padding: 0.5em 1em;
  border: 1px solid black;
  background: none;
}

.grid-button:hover {
  background-color: rgb(91, 140, 245);
  border-radius: 1rem;
  border: none;
}
