<mat-card class="userProfileCard">
  <mat-card-header>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div fxLayout="row" fxFlex fxLayoutAlign="space-around center" class="userStatsContainer">
      <mat-card-subtitle> Email:
        <div class="userStats">{{user.email}}</div>
      </mat-card-subtitle>
      <mat-card-subtitle> Ore totale:
        <div class="userStats">120</div>
      </mat-card-subtitle>
      <mat-card-subtitle> Cursuri totale:
        <div class="userStats">5</div>
      </mat-card-subtitle>
      </div>
  </mat-card-content>
</mat-card>

<div class="home">
  <mat-tab-group dynamicHeight>
    <mat-tab *ngFor="let tab of tabList" label="{{tab}}">
      <div class="example-large-box mat-elevation-z4" *ngFor="let course of courseList">
        <mat-card class="example-card" (click)="goToCourse(course)">
          <mat-card-header>
            <mat-card-title>{{course.name}}</mat-card-title>
          </mat-card-header>
          <mat-chip-list>
            <mat-chip color="primary" selected>{{course.courseType}}</mat-chip>
            <mat-chip color="accent" selected>{{course.hours}} ore</mat-chip>
          </mat-chip-list>
          <div class="image-card"></div>
          <mat-card-content>
            <p>
              {{course.shortDescription}}
            </p>
          </mat-card-content>
          <div class="progress-bar">
            <mat-progress-bar mode="determinate" value="{{course.percentage}}"></mat-progress-bar>
            <p class="percent">{{course.percentage}}%</p>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>



