<mat-card class="userProfileCard">
  <mat-card-header>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div fxLayout="row" fxFlex fxLayoutAlign="space-around center" class="userStatsContainer">
      <mat-card-subtitle> Email:
        <div class="userStats">{{user.email}}</div>
      </mat-card-subtitle>
      <mat-card-subtitle> Total hours:
        <div class="userStats">120</div>
      </mat-card-subtitle>
      <mat-card-subtitle> Total courses:
        <div class="userStats">5</div>
      </mat-card-subtitle>
      </div>
  </mat-card-content>
</mat-card>

<div class="home">
  <mat-tab-group dynamicHeight>
    <mat-tab label="In desfasurare">
      <div class="example-large-box mat-elevation-z4">
        <mat-card class="example-card" (click)="goToCourse()">
          <mat-card-header>
            <mat-card-title>Introducere în îngrijiri paliative</mat-card-title>
          </mat-card-header>
          <mat-chip-list>
            <mat-chip color="primary" selected>20.08.2020</mat-chip>
            <mat-chip color="accent" selected>6 ore</mat-chip>
          </mat-chip-list>
          <div class="image-card"></div>
          <mat-card-content>
            <p>
              Foarte probabil că majoritatea dintre noi am fost confruntaţi, în practica clinică sau în viaţa de
              familie, cu nevoia de a
              îngriji un pacient suferind de o boală incurabilă avansată.
            </p>
          </mat-card-content>
          <div class="progress-bar">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            <p class="percent">40%</p>
          </div>
        </mat-card>
      </div>
      <div class="example-large-box mat-elevation-z4">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Îngrijiri paliative de bază 1</mat-card-title>
          </mat-card-header>
          <mat-chip-list>
            <mat-chip color="primary" selected>20.08.2020</mat-chip>
            <mat-chip color="accent" selected>6 ore</mat-chip>
          </mat-chip-list>
          <div class="image-card"></div>
          <mat-card-content>
            <p>
              Cursul este recomandat atât asistenților medicali care doresc să inițieze instruirea în vederea obținerii
              certificatului de 36
              ore EMC în îngrijire paliativă- care le permite să practice îngrijiri paliative de bază cât și
              asistenților medicali cu
              experiență clinică în paliație de minim 3 ani de zile dar care au nevoie să acumuleze un număr de 120 ore
              EMC în îngrijire
              paliativă.
            </p>
          </mat-card-content>
          <div class="progress-bar">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            <p class="percent">40%</p>
          </div>
        </mat-card>
      </div>
      <div class="example-large-box mat-elevation-z4">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Îngrijiri paliative de bază 1</mat-card-title>
          </mat-card-header>
          <mat-chip-list>
            <mat-chip color="primary" selected>20.08.2020</mat-chip>
            <mat-chip color="accent" selected>6 ore</mat-chip>
          </mat-chip-list>
          <div class="image-card"></div>
          <mat-card-content>
            <p>
              Cursul este recomandat atât asistenților medicali care doresc să inițieze instruirea în vederea obținerii
              certificatului de 36
              ore EMC în îngrijire paliativă- care le permite să practice îngrijiri paliative de bază cât și
              asistenților medicali cu
              experiență clinică în paliație de minim 3 ani de zile dar care au nevoie să acumuleze un număr de 120 ore
              EMC în îngrijire
              paliativă.
            </p>
          </mat-card-content>
          <div class="progress-bar">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            <p class="percent">40%</p>
          </div>
        </mat-card>
      </div>
      <div class="example-large-box mat-elevation-z4">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Îngrijiri paliative de bază 1</mat-card-title>
          </mat-card-header>
          <mat-chip-list>
            <mat-chip color="primary" selected>20.08.2020</mat-chip>
            <mat-chip color="accent" selected>6 ore</mat-chip>
          </mat-chip-list>
          <div class="image-card"></div>
          <mat-card-content>
            <p>
              Cursul este recomandat atât asistenților medicali care doresc să inițieze instruirea în vederea obținerii
              certificatului de 36
              ore EMC în îngrijire paliativă- care le permite să practice îngrijiri paliative de bază cât și
              asistenților medicali cu
              experiență clinică în paliație de minim 3 ani de zile dar care au nevoie să acumuleze un număr de 120 ore
              EMC în îngrijire
              paliativă.
            </p>
          </mat-card-content>
          <div class="progress-bar">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            <p class="percent">40%</p>
          </div>
        </mat-card>
      </div>

    </mat-tab>
    <mat-tab label="Recomandat">
      <div class="example-large-box mat-elevation-z4">
        Asistenti
      </div>
    </mat-tab>
    <mat-tab label="Certificate">
      <div class="example-large-box mat-elevation-z4">
        Altii
      </div>
    </mat-tab>
  </mat-tab-group>
</div>



