.loginCard {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;

  mat-form-field {
    display: block;
  }

  .mat-raised-button.mat-primary {
    background-color: #83A964;
    margin-bottom: 10px;
  }

  .register {
    margin: 5px;
    font-weight: 500;
  }

  .register a {
    color: #3f51b5;
    text-decoration: none;
  }
}

