.course-list-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .knowledge-quiz, .feedback-quiz {
    justify-content: center;
    .icon {
      font-size: 20px;
      &:before {
        font-family: 'Material Icons';
      }
    }
  }

  .knowledge-quiz {
    .icon:before {
      content: '\e885';
    }
  }

  .feedback-quiz {
    .icon:before {
      content: '\e8dd';
    }
  }
}
