html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.home {
  .mat-divider {
    height: 400px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    background: linear-gradient( #7DC24133, #7DC24500 ), url(https://www.hospice.ro/wp-content/uploads/2020/03/HOSPICE-1-1536x1026.jpg);
    background-size: cover;
  }

  .title-home {
    padding-top: 40px;
    padding-left: 30px;
    font-weight: 500;
    color: #ffffff;
  }

  .mat-tab-group {
    margin: 0 60px;
  }

  .mat-tab-labels {
    justify-content: space-evenly;
  }

  .mat-tab-header {
    border-bottom: none;
  }


  .mat-tab-body-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }


  .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    border-radius: 8px;
  }
}
