<mat-card class="changePasswordCard">
  <mat-card-content>
    <form [formGroup]="form" class="ChangePasswordForm">
      <h2>{{ "preview.managePassword.changePassword" | translate }}</h2>
      <formly-form [form]="form" [fields]="fields"></formly-form>
      <button
        mat-raised-button
        [disabled]="form.invalid"
        (click)="onChangePassword()"
      >
        {{ "preview.managePassword.changePassword" | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
