.app-course-wrapper {
  display: flex;
  flex-wrap: wrap;
  background: hsla(0, 0%, 93.3%, 0.31);
  padding-top: 25px;
  height: 100vh;

  .create-course {
    display: flex;
    margin: auto;
    margin-top: 30px;
  }
}
