<div class="app-course-wrapper">
  <mat-card class="create-course">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form
        [model]="model"
        [fields]="fields"
        [options]="options"
        [form]="form"
      ></formly-form>
      <div class="button-row">
        <button 
          type="submit" 
          mat-raised-button color="primary"
          [disabled]="!form.valid">
          Submit
        </button>
        <button  
          mat-raised-button
          [disabled]="!form.valid"
          (click)="options.resetModel()"
        >
          Reset
        </button>
      </div>
    </form>
  </mat-card>
</div>
