<div class="home">
  <div class="mat-divider">
      <h1 class="title-home">Cursuri de ingrijiri paliative</h1>
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab *ngFor="let tab of tabList" label="{{tab}}">
      <div class="example-large-box mat-elevation-z4" *ngFor="let course of courseList">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{course.name}}</mat-card-title>
          </mat-card-header>
          <mat-chip-list>
            <mat-chip color="primary" selected>{{course.courseType}}</mat-chip>
            <mat-chip color="accent" selected>{{course.hours}} ore</mat-chip>
          </mat-chip-list>
          <div class="image-card"></div>
          <mat-card-content>
            <p>
              {{course.shortDescription}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
