<mat-divider class="mat-divider"></mat-divider>

<mat-tab-group dynamicHeight>
  <mat-tab label="Noutati">
    <div class="example-large-box mat-elevation-z4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Introducere în îngrijire paliativă</mat-card-title>
          <mat-card-subtitle>
            <mat-chip color="primary" selected>6 ore</mat-chip>
            <mat-chip color="accent" selected>30 Credite</mat-chip>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Foarte probabil că majoritatea dintre noi am fost confruntaţi, în practica clinică sau în viaţa
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Asistenti">
    <div class="example-large-box mat-elevation-z4">
      Asistenti
    </div>
  </mat-tab>
  <mat-tab label="Altii">
    <div class="example-large-box mat-elevation-z4">
      Altii
    </div>
  </mat-tab>
  <mat-tab label="Toate cursurile">
    <div class="example-large-box mat-elevation-z4">
      Toate cursurile
    </div>
  </mat-tab>
</mat-tab-group>

