.mat-stepper-horizontal {
  margin-top: 30px;
  .mat-step-header {
    // pointer-events: none !important;
  }
  .registerFormContainer {
    .mat-card-footer {
      .navigation-panel {
        float: right;
        margin: 20px;
      }
      width: 100%;
    }
    .checkboxGroup {
      display: flex;
      flex-direction: column;
    }
    .mat-form-field {
      margin-top: 16px;
    }

    width: 50vw;
    min-width: 400px;
    margin: auto;
    height: 100%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    formly-field {
      &:not(:last-child) {
        .mat-form-field {
          margin-bottom: 10px;
        }
      }
      .row-layout {
        display: flex;

        formly-field {
          flex: 1;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}
