<mat-horizontal-stepper #stepper>
  <mat-step>
    <mat-card class="registerFormContainer">
      <form [formGroup]="personalDataForm">
        <ng-template matStepLabel
          >{{ "preview.register.personalData" | translate }}
        </ng-template>
        <formly-form
          [form]="personalDataForm"
          [fields]="personalDataFields"
        ></formly-form>
      </form>
      <mat-card-footer>
        <div class="navigation-panel">
          <button
            mat-raised-button
            matStepperNext
            [disabled]="personalDataForm.invalid"
            color="primary"
          >
            {{ "preview.register.next" | translate }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </mat-step>
  <mat-step label="{{ 'preview.register.career' | translate }}">
    <mat-card class="registerFormContainer">
      <mat-card-title>{{
        "preview.register.profession" | translate
      }}</mat-card-title>
      <mat-card-content>
        <form [formGroup]="professionForm">
          <div class="checkboxGroup">
            <mat-checkbox formControlName="NURSE">{{
              "preview.register.nurse" | translate
            }}</mat-checkbox>
            <mat-checkbox formControlName="CARE_ASSISTANT">{{
              "preview.register.care_asistant" | translate
            }}</mat-checkbox>
            <mat-checkbox formControlName="CARETAKER">{{
              "preview.register.caretaker" | translate
            }}</mat-checkbox>
            <mat-checkbox formControlName="OTHER">{{
              "preview.register.other" | translate
            }}</mat-checkbox>
          </div>
          <mat-form-field *ngIf="professionForm.value.OTHER">
            <input
              matInput
              placeholder="Profession"
              formControlName="other_profession"
            />
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card class="registerFormContainer">
      <mat-card-title>{{
        "preview.register.employer" | translate
      }}</mat-card-title>
      <form [formGroup]="careerForm">
        <formly-form [form]="careerForm" [fields]="careerFields"></formly-form>
      </form>
      <mat-card-footer>
        <div class="navigation-panel">
          <button mat-button matStepperPrevious>
            {{ "preview.register.previous" | translate }}
          </button>
          <button
            mat-raised-button
            color="primary"
            matStepperNext
            [disabled]="careerForm.invalid || professionForm.invalid"
          >
            {{ "preview.register.next" | translate }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </mat-step>
  <mat-step label="{{ 'preview.register.finalization' | translate }}">
    <mat-card class="registerFormContainer">
      <mat-card-title>{{
        "preview.register.contactMe" | translate
      }}</mat-card-title>
      <div class="checkboxGroup">
        <form [formGroup]="contactForm">
          <formly-form
            [form]="contactForm"
            [fields]="contactFields"
          ></formly-form>
        </form>
      </div>
    </mat-card>
    <mat-card class="registerFormContainer">
      <form [formGroup]="finalizationForm">
        <h3>
          <a href="http://www.studiipaliative.ro/termeni-si-conditii/"
            >{{ "preview.register.readAgreement" | translate }}
          </a>
        </h3>
        <mat-checkbox
          id="agreement"
          name="agreement"
          formControlName="agreement"
          >{{ "preview.register.agreement" | translate }}</mat-checkbox
        >
        <br />
        <br />
        <h3>
          <a
            href="http://www.studiipaliative.ro/wp-content/uploads/2020/05/NOTA-DE-INFORMARE.pdf "
            >{{ "preview.register.gdprRead" | translate }}
          </a>
        </h3>
        <mat-checkbox id="gdpr" name="gdpr" formControlName="gdpr">{{
          "preview.register.gdpr" | translate
        }}</mat-checkbox>
      </form>
      <mat-card-footer>
        <div class="navigation-panel">
          <button mat-button matStepperPrevious>
            {{ "preview.register.previous" | translate }}
          </button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="finalizationForm.invalid || contactForm.invalid"
          >
            {{ "preview.register.submit" | translate }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>
