$shadowColor: #000000;
/*==================================================
 * Shadow levels
 * ===============================================*/
// Card-resting, Search-resting, Filters, Button-resting, Grid
@mixin shadowLevel-1($left: 0, $top: 1px, $blur: 4px, $color: rgba($shadowColor, 0.30)) {
  box-shadow: $left $top $blur $color;
}

// Tabs, Wizard, Breadcrumb, Grid's header and toolbar at scrolling, raised Button at mouse-over
@mixin shadowLevel-2($left: 0, $top: 2px, $blur: 4px, $color: rgba($shadowColor, 0.30)) {
  box-shadow: $left $top $blur $color;
}

// Header, Footer
@mixin shadowLevel-3($left: 0, $top: 3px, $blur: 6px, $color: rgba($shadowColor, 0.30)) {
  box-shadow: $left $top $blur $color;
}

@mixin shadowLevel-3-1($left: 0, $top: -4px, $blur: 10px, $color: rgba($shadowColor, 0.30), $inset: false) {
  @if $inset {
    box-shadow: inset $left $top $blur $color;
  } @else {
    box-shadow: $left $top $blur $color;
  }
}

// Card-raised, Search-focused, Button-elevated, Dropdown & Submenu
@mixin shadowLevel-4($left: 0, $top: 4px, $blur: 8px, $color: rgba($shadowColor, 0.30)) {
  box-shadow: $left $top $blur $color;
}

@mixin shadowLevel-4-2($left: 0, $top: 4px, $blur: 16px, $color: rgba($shadowColor, 0.30)) {
  box-shadow: $left $top $blur $color;
}

@mixin shadowLevel-4-3($left: 0, $top: 4px, $blur: 24px, $color: rgba($shadowColor, 0.30)) {
  box-shadow: $left $top $blur $color;
}

// Page messages
@mixin shadowLevel-5($left: 0, $top: 5px, $blur: 16px, $color: rgba($shadowColor, 0.30)) {
  box-shadow: $left $top $blur $color;
}

// User Dialogues, Menu, Loading
@mixin shadowLevel-6($left: 0, $top: 6px, $blur: 24px, $color: rgba($shadowColor, 0.30)) {
  box-shadow: $left $top $blur $color;
}
