// general
$textColor: #000000;
$border: #bfbfbf;

// login
$loginButtonColor: #83a964;
$loginLinkTextColor: #3f51b5;

// nav bar
$navBarTextColor: #ffffff;
$navBarBackgroundColor: #7dc242;

// card
$cardBackgroundColor: #f2f2f2;
$cardBackgroundWhiteColor: #ffffff;
$cardBorderColor: #cccccc;
$cardLabelCourseTypeColor: #83a964;
$cardLabelHourColor: #ed6995;
$registerButton: #6e73fc;
$cardOkButton: #c1d4b9;
$cardHoverButton: #e3ebe0;
$cardTitleColor: #232323;

// actions
$actionRed: #c62828;
$actionGreen: #2e7d32;

$infoColor: #0288d1;
$warningColor: #ff8f00;

// button
$buttonColor1: #5e62c8;
$buttonColor2: #3e5353;
$buttonColor3: #6fa3a3;
$buttonColor4: #344cfb;

// tree
$nodeBackground: #e7e7e7;
$nodeActive: #95BC88;

// side nav
$sideNavBackground: #f1f1f1;
$sideNavToolbar: #6F6F6F;
$sideNavArrowBackground: #C4C4C4;

//Theme Colors
$gradientDegree: 60deg;
$themeColor1-light: #7dc242;
$themeColor1-dark: #74b33e;
$themeColor2-light: #c2427e;
$themeColor2-dark: #be438d;
$themeColor4-light: #42b9c2;
$themeColor4-dark: #41abb3;
$themeColor5-light: #ffa726;
$themeColor5-dark: #fb8c00;
$themeColorError: #EE9F8C;
$themeColorSuccess: #A7A377;
$themeColorInfo: #D4ECF6;
$themeColorWarning: #F4E1C2;

  // Grid top bar

$darkBorder: #747474;
$lightBorder: #bfbfbf;
$textWithBackground: #ffffff;
$cardBackground: #ffffff;
$generalTextColor: #747474;
$hoverAndSelectedBackground: #e9e9e9;
$disabledPageToolbarButtonBackgroundColor: #e9e9e9;
$disabledPageToolbarButtonColor: #bfbfbf;
$shadowColor: #000000;

// Create course

$sectionColour: #EFEFEF;
$editPenColour: #DADADA;

@mixin shadowLevel-1($left: 0, $top: 1px, $blur: 4px, $color: rgba($shadowColor, 0.30)) {
  box-shadow: $left $top $blur $color;
}

// status
$published: #0CB853;
$unpublished: #FFC107;
$close: #646464;
