// general
$textColor: #000000;

// login
$loginButtonColor: #83A964;
$loginLinkTextColor: #3f51b5;

// nav bar
$navBarTextColor: #ffffff;
$navBarBackgroundColor : #7DC242;

// card
$cardBackgroundColor: #f2f2f2;
$cardBorderColor: #cccccc;
$cardLabelCourseTypeColor: #83A964;
$cardLabelHourColor: #ED6995;

// actions
$actionRed: #c62828;
$actionGreen: #2e7d32;

$infoColor: #0288d1;
$warningColor: #ff8f00;

